

<div class="container mt-5 p-5  rounded">
  <h3 class="ms-3">My Profile</h3>
  <div class="row border d-flex p-3  rounded mt-4 ">
    <div class="col-1">
      <img src="../../assets/profile-user (1).png" class="" height="70px" width="70px">
    </div>
    <div class="col-10 ms-5">
      <div class="row ">
        <div class="col-12 ">
          <h5 class="fw-cold">Dipa Krushna Alaknur</h5>
        </div>
        <div class="col-12 ">
          <div class="row ">
            <div class="col-9 ">
              <h6 class="text-secondary">Intern</h6>
              <h6 class="text-secondary">Pune</h6>
            </div>
            <div class="col-3  ">
              <h6 class="text-secondary">Employee ID:1700</h6>
              <h6 class="text-secondary">Manager Name : Vikas Jain</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div> 


















  <!-- <div class="row p-3 border rounded mt-4 ">
    <div class="col d-flex align-items-center">
      <img src="../../assets/profile-user (1).png" class="" height="70px" width="70px">
      <div class="row">
        <div class="col-12 ms-3">
          <h5 class="fw-cold">Dipa Krushna Alaknur</h5>
        </div>
        <div class="col-12">
          <div class="row ms-2">
            <div class="col-6">
              <h6 class="text-secondary">Intern</h6>
              <h6 class="text-secondary">Pune</h6>
            </div>
            <div class="col-6 ">
              <h6 class="text-secondary">Employee ID:1700</h6>
              <h6 class="text-secondary">Manager Name : Vikas Jain</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  



  <div class="row bg-white border rounded mt-3 p-3">
    <h5>Basic Information</h5>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating" style="font-size: larger;">
        <input type="text" class="form-control border-0 pt-5" id="name" value="Dipa K. Alaknur">
        <label for="name">Name</label>
      </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating" style="font-size: larger;">
        <input type="email" class="form-control border-0 pt-5" id="email" value="dipaalaknur@gmail.com" readonly>
        <label for="email">Email ID</label>
      </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating " style="font-size: larger;">
        <input type="tel" class="form-control border-0 pt-5" id="contact" value="9876787678">
        <label for="contact">Contact</label>
      </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating " style="font-size: larger;">
        <input type="text" class="form-control border-0 pt-5" id="location" value="Kolhapur">
        <label for="location">Location</label>
      </form>
    </div>
  </div>


  <div class="row bg-white border rounded mt-3 p-3">
    <h5>Personal Information</h5>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating" style="font-size: larger;">
          <input type="text" class="form-control border-0 pt-5" id="adhar" value="897876545687">
          <label for="adhar">Aadhar Number</label>
        </form>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 h-lg-100">
        <form class="form-floating" style="font-size: larger;">
          <input type="file" class="form-control border-0 pt-5 pb-3" id="AadharFile" readonly>
          <label for="AadharFile">Aadhar Doc.</label>
        </form>
      </div>


      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating" style="font-size: larger;">
          <input type="text" class="form-control border-0 pt-5" id="pan" value="FDRA987">
          <label for="pan">Pan Number</label>
        </form>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 h-lg-100">
        <form class="form-floating" style="font-size: larger;">
          <input type="file" class="form-control border-0 pt-5 pb-3" id="PanFile">
          <label for="PanFile">Pan Doc.</label>
        </form>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating mt-3 border-0">
          <select class="form-select border-0 " style="padding-bottom: 6px;" id="gender" name="gender">
            <option selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <label for="gender" class="fs-5 mb-5">Gender</label>
        </form>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating mt-3 border-0">
          <select class="form-select border-0 " style="padding-bottom: 6px;" id="maritalStatus" name="maritalStatus">
            <option selected>Select Marital Status</option>
            <option value="male">Married</option>
            <option value="female">Single</option>
            <option value="other">Divorced</option>
          </select>
          <label for="gender" class="fs-5 mb-5">Marital Status</label>
        </form>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating mt-3" style="font-size: larger;">
          <input type="date" class="form-control border-0 pt-5" id="dob">
          <label for="dob">Date of Birth</label>
        </form>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating mt-3" style="font-size: larger;">
          <input type="text" class="form-control border-0 pt-5" id="birthPlace" value="Kolhapur">
          <label for="birthPlace">Birth Place</label>
        </form>
      </div>
    </div>
  </div>

  

  <div class="row bg-white border rounded mt-3 p-3">
    <h5>Account Information</h5>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating" style="font-size: larger;">
        <input type="text" class="form-control border-0 pt-5" id="accno" value="767656454">
        <label for="accno">Account Number</label>
      </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating" style="font-size: larger;">
        <input type="text" class="form-control border-0 pt-5" id="ifsccode" value="dipaalaknur@gmail.com" readonly>
        <label for="ifsccode">IFSC Code</label>
      </form>
    </div>
    
  </div>
</div>