

<div class="container mt-3 p-5  rounded">
  <h1 class="">My Profile</h1>
  <div class="row border d-flex p-3  rounded mt-4 ">
    <div class="col-1">
      <img src="../../assets/profile-user (1).png" class="" height="70px" width="70px">
    </div>
    <div class="col-10 ms-5">
      <div class="row ">
        <div class="col-12 ">
          <h5 class="fw-cold">{{name}}</h5>
        </div>
        <div class="col-12 ">
          <div class="row ">
            <div class="col-9 ">
              <h6 class="text-secondary">{{designation}}</h6>
              <h6 class="text-secondary">Pune</h6>
            </div>
            <div class="col-3  ">
              <h6 class="text-secondary">Employee ID:{{user_id}}</h6>
              <h6 class="text-secondary">Manager Name : {{manager_name}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div> 




















  



  <div class="row bg-white border rounded mt-3 p-3">
    <h5>Basic Information</h5>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating" style="font-size: larger; " [ngClass]="{'border':!readonly,'no-border':readonly}">
        <input  type="text" class="form-control pt-5 pb-3 border-0" id="name" name="name" [(ngModel)]="name" [readonly]="readonly">
        <label  for="name">Name</label>
      </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12" >
      <form class="form-floating" style="font-size: larger;" [ngClass]="{'border':!readonly,'no-border':readonly}">
        <input type="email" class="form-control border-0 pt-5 pb-3" id="email" name="email" [(ngModel)]="email" [readonly]="readonly">
        <label for="email">Email ID</label>
      </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating " style="font-size: larger;" [ngClass]="{'border':!readonly,'no-border':readonly}">
        <input type="tel" class="form-control border-0 pt-5 pb-3" id="contact" name="contact" [(ngModel)]="contact" [readonly]="readonly">
        <label for="contact">Contact</label>
      </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating " style="font-size: larger;" [ngClass]="{'border':!readonly,'no-border':readonly}">
        <input type="text" class="form-control border-0 pt-5 pb-3" id="location" name="location" [(ngModel)]="address" [readonly]="readonly">
        <label for="address">Address</label>
      </form>
    </div>
  </div>


  <div class="row bg-white border rounded mt-3 p-3">
    <h5>Personal Information</h5>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating" style="font-size: larger;" [ngClass]="{'border':!readonly,'no-border':readonly}">
          <input type="text" class="form-control border-0 pt-5 pb-3" id="aadhar" name="aadhar" [(ngModel)]="aadhar" [readonly]="readonly">
          <label for="adhar">Aadhar Number</label>
        </form>
      </div>
      


      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating" style="font-size: larger;" [ngClass]="{'border':!readonly,'no-border':readonly}">
          <input type="text" class="form-control border-0 pt-5 pb-3" id="pan" name="pan_number" [(ngModel)]="pan_number" [readonly]="readonly">
          <label for="pan">Pan Number</label>
        </form>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating  " [ngClass]="{'border':!readonly,'no-border':readonly}">
          <select class="form-select border-0" [(ngModel)]="gender" style="padding-bottom: 6px;" id="gender" name="gender" [ngClass]="{'border':!readonly,'no-border':readonly}" [disabled]="readonly">
            <option selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <label for="gender" class="fs-5 mb-5">Gender</label>
        </form>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating " [ngClass]="{'border':!readonly,'no-border':readonly}">
          <select class="form-select border-0 " style="padding-bottom: 6px;" id="maritalStatus" name="maritalStatus" [(ngModel)]="maritalStatus" [disabled]="readonly">
            <option selected>Select Marital Status</option>
            <option value="Married">Married</option>
            <option value="Single">Single</option>
            <option value="Divorced">Divorced</option>
          </select>
          <label for="gender" class="fs-5 mb-5">Marital Status</label>
        </form>
      </div>
      
    </div>

    <div class="row mt-3">
      

      <div class="col-lg-3 col-md-6 col-sm-12">
        <form class="form-floating mt-3" style="font-size: larger;" [ngClass]="{'border':!readonly,'no-border':readonly}">
          <input type="date" class="form-control border-0 pt-5 pb-3" id="dob" name="dob" [(ngModel)]="dob" [readonly]="readonly">
          <label for="dob">Date of Birth</label>
        </form>
      </div>
     
    </div>
  </div>

  

  <div class="row bg-white border rounded mt-3 p-3">
    <h5>Account Information</h5>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating" style="font-size: larger;" [ngClass]="{'border':!readonly,'no-border':readonly}">
        <input type="text" class="form-control border-0 pt-5 pb-3" id="accno" name="accno" [(ngModel)]="accno" [readonly]="readonly">
        <label for="accno">Account Number</label>
      </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <form class="form-floating" style="font-size: larger;" [ngClass]="{'border':!readonly,'no-border':readonly}" >
        <input type="text" class="form-control border-0 pt-5 pb-3" id="ifsccode" name="ifsccode" [(ngModel)]="ifsccode" [readonly]="readonly">
        <label for="ifsccode">IFSC Code</label>
      </form>
    </div>
    
  </div>

  <div class="row mt-2">
    <div class="col d-flex justify-content-end">
        <button class="btn bg-color text-light m-2" (click)="edit()">Edit</button>
        <button class="btn bg-color text-light m-2" (click)="save()">Save</button>
    </div>
  </div>
</div>