<body style="background-color:#e0e2e9;">

<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="row shadow-lg bg-white ">
        <div class="col-md-6 col-sm-12 py-5 px-4">
            <img src="../../assets/signin.png" class="img-fluid" style="height: 550px; width: 700px;"> 
        </div>


        <div class="col-md-6 col-sm-12 mt-5">
            <div class="row">
                <div class="col-12 text-center display-4 fw-bold mt-5">
                    Sign In
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                     
                    <form class="px-5 py-5" (ngSubmit)="Login(login.value)" #login="ngForm">
                        <div class="col-12 px-0">
                            <label for="username">Username</label>
                            <div class="input-group mb-2 mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="bi bi-people-fill"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="username" placeholder="Username" name="username" ngModel required>
                            </div>
                        </div>

                          <div class="col-12 px-0 mt-3">
                            <label for="inlineFormInputGroup">Password</label>
                            <div class="input-group mb-2 mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                </div>
                                <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" name="password" ngModel>
                            </div>
                            </div>
                          <!-- <div class="col-12 px-0 mt-3">
                            <label for="password">Password</label>
                            <div class="input-group mb-2 mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="bi bi-lock-fill"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password" ngModel required>
                            </div>
                        </div> -->
                        <div class="row mt-5">
                            <div class="col-12 text-center">
                                <button type="submit"  class="btn w-50 text-light fw-bold rounded-4">Sign In</button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <a href="" style="text-decoration: none;">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>

            
        </div>
        
    </div>
</div>

