<div class="container mt-4">
    <div class="d-flex  justify-content-end">
        <!-- <button mat-fab extended>
            <mat-icon>home</mat-icon>
            Home
          </button> -->
        <button class="btn bg text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Question</button>

    </div>
    <div class="mt-4">
        <table class="table">
            <thead>
              <tr >
                <th scope="col">Sr.No</th>
                <th scope="col">Question</th>
                <th>Rating</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 20%;">1</td>
                <td style="width: 60%;" >@mdo</td>
                <td style="width: 20%; font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="currentRate"  class=" text-warning fw-5 "></ngb-rating>
                </td>
              </tr>
              
             
            </tbody>
          </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <textarea class="form-control" placeholder="Write question here.." rows="5" cols="10"> </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn bg text-light">Save</button>
        </div>
      </div>
    </div>
  </div>