<div class="container">
    <div class="row  d-flex p-2 shadow rounded mt-5 py-3">
        <!-- <div class="col-3  text-center">
            <img src="../../assets/profile-user (1).png" height="70px" width="70px">
        </div> -->
        <div class="col-lg-4 col-md-12 p-2  d-flex border-left">
            <div class="col-3  text-center">
    <div class="row  d-flex p-2 shadow rounded mt-5 py-3 align-space-between">
        <div class="col-lg-5 col-md-12 p-2 ps-4 d-flex align-items-center ">
            <div class="col-2 ">
                <img src="../../assets/profile-user (1).png" height="70px" width="70px">
            </div>
           <div class="col-12 ps-3">
                <p class="fs-5">Dipa Krushna Alaknur</p>
                <p class="fs-5">Intern</p>
           </div>
        </div>
        <div class="col-lg-5 col-md-12 p-2 d-flex  align-items-center">
            <div>
                <p class="fs-5 ">ID :<span>101</span></p>
            <p class="fs-5 ">Manager : <span>Vikas Jain</span></p>
            </div>
         
        </div>
        <div class="col-lg-4 col-md-12 p-2 d-flex  align-items-center">
        <div class="col-lg-2  col-md-12 p-2 d-flex  align-items-center">
            <div>
                <p class="fs-5"><i class="bi bi-geo-alt-fill color" style="font-size:23px;"></i>Work Location</p>
                <p class="fs-5 ms-2">Pune </p>
            </div>
           
                
           
        </div>

    </div>
    
    <div class="row  d-flex p-2 mt-5 py-3 ">
        <div class="col-lg-4 col-md-12 shadow rounded p-3 d-flex align-items-center ">
            <div class="row d-flex align-items-center ms-1">
                <div class="col-3 " >
                    <img src="../../assets/profile-user (1).png" height="70px" width="70px">
                </div>
                <div class="col-9 ps-4">
                    <p class="fs-5">Dipa Krushna Alaknur</p>
                    <p class="fs-5">Intern</p>
                </div>
            </div> 


    
</div>  

<!-- 
<div class="container">
    <div class="row  d-flex p-2 shadow rounded mt-5 py-3 align-space-between">
        <div class="col-lg-4 col-md-12 p-2  d-flex align-items-center">
            <div class="col-3">
                <img src="../../assets/profile-user (1).png" height="70px" width="70px">
            </div>
            <div>
                <p class="fs-5">Dipa Krushna Alaknur</p>
                <p class="fs-5">Intern</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 p-2 d-flex  align-items-center">
            <div>
                <p class="fs-5">ID :<span>101</span></p>
                <p class="fs-5">Manager : <span>Vikas Jain</span></p>
            </div>
        </div>
        <div class="col-lg-4  col-md-12 p-2 d-flex  align-items-center ml-2">
            <div>
                <p class="fs-5"><i class="bi bi-geo-alt-fill color" style="font-size:23px;"></i>Work Location</p>
                <p class="fs-5 ms-2">Pune </p>
            </div>
            <a routerLink="/users" routerLinkActive="active">Users</a> -->
           
                
           
        </div>
    </div>
    
</div> 


</div>
