<div class="container-fluid px-5 py-3" >
  

    <h1 class="fs-1 fw-bold pt-5 pb-4">Review-Appraisal</h1>

    <h3 class="pb-5">Employee Name : {{employeeName}}</h3>

    <mat-stepper  #stepper *ngIf="appraisalStatus!=='done'">
      <mat-step [stepControl]="firstFormGroup" label="Projects">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepperIcon="edit">
            <mat-icon>bubble_chart</mat-icon>
          </ng-template>
          
          <div class="d-flex justify-content-end pt-3" *ngIf="role !=='Manager'">
            <button class="btn btn-bg text-white " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Project</button>
            
        </div>
        
        <table class="table mt-5">
            
            <thead>
                <tr class="" style="font-size: 17px;">
                  <th>Sr.No</th>
                  <th>Project</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Task List</th>
                  <th>Self Rating</th>
                  <th *ngIf="role==='Manager'">Appraiser Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of Projects">
                 <td>{{project.projectId}}</td>
                 <td>{{project.projectName}}</td>
                 <td>{{project.startDate.substring(0,10)}}</td>
                 <td>{{project.endDate.substring(0,10)}}</td>
                 <td>{{project.task}}</td>
                 <td > <ngb-rating id="rate" [max]="5"  [rate]="project.selfRating"  class=" text-warning fw-5 " style="font-size: 30px;"></ngb-rating></td>
                 <td *ngIf="role==='Manager'">
                  <ngb-rating id="project.projectId" [max]="5"  [(rate)]="project.appraisalRating"  class=" text-warning fw-5 " style="font-size: 30px;" (rateChange)="addAppraisalRating(project.appraisalRating,project.projectId)"></ngb-rating></td>
                  <!-- <td *ngIf="role==='Manager' && ">
                    <ngb-rating id="project.projectId" [max]="5"  [(rate)]="project.appraisalRating"  class=" text-warning fw-5 " style="font-size: 30px;" (rateChange)="addAppraisalRating(project.appraisalRating,project.projectId)"></ngb-rating></td>
                  -->
                </tr>
               
              {{appraisalRatings}}
                
              </tbody>
             
          </table>
         
          <div class="mt-5">
            <button mat-button matStepperNext class="border">Next</button>
          </div>
        </form>
        
      
      </mat-step>
      
      <mat-step [stepControl]="secondFormGroup" label="Competency" #stepper>
        <form [formGroup]="secondFormGroup">
          <form #competencyRating="ngForm" (ngSubmit)="addRatings(competencyRating)">
            <table class="table table-hover  text-center mt-5">
              <thead>
                <tr>
                  <th >Sr.No</th>
                  <th >Category</th>
                  <th >Self Rating</th>
                  <th >Self Comment</th>
                  <th *ngIf="role==='Manager'">Appraiser Rating</th>
                  <th *ngIf="role==='Manager'">Appraiser Comment</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td >1</td>
                  <td >Communication</td>
                  <td   style=" font-size: xx-large; ">
                      <ngb-rating [max]="5" [rate]="s_srating1" class=" text-warning fw-5 " [readonly]="true"></ngb-rating>
                  </td>
                  <td >
                    {{fetchRatings[4].self_comment}}
                  </td>
                  <td *ngIf="role==='Manager'" style=" font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="a_srating1"  class=" text-warning fw-5 "></ngb-rating>
                  </td>
                  <td *ngIf="role==='Manager'" class="align-middle d-flex justify-content-center">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Appraiser Comment</mat-label>
                      <input matInput name="a_comment1" ngModel >
                    </mat-form-field>
                  </td>
                  
                </tr>
                <tr>
                  <td >2</td>
                  <td >People Management</td>
                  <td  style=" font-size: xx-large; ">
                      <ngb-rating [max]="5" [rate]="s_srating2"  class=" text-warning fw-5 " [readonly]="true"></ngb-rating>
                  </td>
                  <td >
                    {{fetchRatings[4].self_comment}}
                  </td>
                  <td *ngIf="role==='Manager'" style=" font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="a_srating2"  class=" text-warning fw-5 "></ngb-rating>
                  </td>
                  <td *ngIf="role==='Manager'" class="align-middle d-flex justify-content-center">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Appraiser Comment</mat-label>
                      <input matInput name="a_comment2" ngModel >
                    </mat-form-field>
                  </td>  
                </tr>
 
 
                <tr>
                  <td >3</td>
                  <td >Client Relationship Management</td>
                  <td  style=" font-size: xx-large; ">
                      <ngb-rating [max]="5" [(rate)]="s_srating3"  class=" text-warning fw-5 " [readonly]="true"></ngb-rating>
                  </td>
                  <td >
                    {{fetchRatings[6].self_comment}}
                  </td>
                  <td *ngIf="role==='Manager'" style=" font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="a_srating3"  class=" text-warning fw-5 " ></ngb-rating>
                  </td>
                  <td *ngIf="role==='Manager'"  class="align-middle d-flex justify-content-center">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Appraiser Comment </mat-label>
                      <input matInput name="a_comment3" ngModel>
                    </mat-form-field>
                  </td>  
                </tr>
 
 
                <tr>
                  <td >4</td>
                  <td >Job Knowledge</td>
                  <td  style=" font-size: xx-large; ">
                      <ngb-rating [max]="5" [(rate)]="s_srating4"  class=" text-warning fw-5 " [readonly]="true"></ngb-rating>
                  </td>
                  <td >
                    {{fetchRatings[7].self_comment}}
                  </td>
                  <td *ngIf="role==='Manager'" style=" font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="a_srating4"  class=" text-warning fw-5 "></ngb-rating>
                  </td>
                  <td *ngIf="role==='Manager'" class="align-middle d-flex justify-content-center">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Appraiser Comment </mat-label>
                      <input matInput name="a_comment4" ngModel>
                    </mat-form-field>
                  </td>  
                </tr>
               
              </tbody>
            </table>
            <div class="mt-5" style="display: grid; grid-template-columns: auto auto 1fr;">
              <button mat-button matStepperPrevious class="border">Back</button>
              <button mat-button matStepperNext class="border ms-3">Next</button>
              <button mat-button class="btn-bg text-white" style="justify-self: end;">{{btn2}}</button>
            </div>
           
 
    </form>
          
         
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Value Alignment">
        <form [formGroup]="secondFormGroup">
          
           <form #ValueAlignemnt="ngForm" (ngSubmit)="getValueAlignemnt(ValueAlignemnt)">
            <table class="table table-hover text-center mt-5">
              <thead>
                <tr >
                  <th >Sr.No</th>
                  <th >Category</th>
                  <th >Self Rating</th>
                  <th >Self Comment</th>
                  <th *ngIf="role==='Manager'">Appraiser Rating</th>
                  <th *ngIf="role==='Manager'">Appraiser Comment</th>
                 
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td >1</td>
                  <td name="title">Trust</td>
                  <td style=" font-size: xx-large; ">
                      <ngb-rating [max]="5" [rate]="yourRateValueTrust"  id="Q1" class=" text-warning fw-5 " [readonly]="true"></ngb-rating >
                  </td>
                  <td >
                    {{fetchRatings[0].self_comment}}
                  </td>
                  <td *ngIf="role==='Manager'" style=" font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="appraisalRateValueTrust"  class=" text-warning fw-5 "></ngb-rating>
                  </td>
                  <td  *ngIf="role==='Manager'" class="align-middle d-flex justify-content-center">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Appraiser Comment </mat-label>
                      <input matInput name="appraiserCommentTrust"  ngModel>
                    </mat-form-field>
                  </td>
                  
                </tr>
                <tr>
                  <td >2</td>
                  <td >Entrepreneurship</td>
                  <td  style=" font-size: xx-large; ">
                      <ngb-rating [max]="5" [(rate)]="yourRateValueEntr"  class=" text-warning fw-5 " [readonly]="true"></ngb-rating>
                  </td>
                  <td >
                    {{fetchRatings[1].self_comment}}
                  </td>
                  <td *ngIf="role==='Manager'" style=" font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="appraisalRateValueEntr" class=" text-warning fw-5 "></ngb-rating>
                  </td>
                  <td *ngIf="role==='Manager'" class="align-middle d-flex justify-content-center">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Appraiser Comment </mat-label>
                      <input matInput name="appraiserCommentValueEntr" ngModel>
                    </mat-form-field>
                  </td>  
                </tr>
  
  
                <tr>
                  <td >3</td>
                  <td >Attention To Detail</td>
                  <td  style=" font-size: xx-large; ">
                      <ngb-rating [max]="5"  [(rate)]="yourRateValueAtten"  class=" text-warning fw-5 " [readonly]="true"></ngb-rating>
                  </td>
                  <td >
                    {{fetchRatings[2].self_comment}}
                  </td>
                  <td *ngIf="role==='Manager'" style=" font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="appraisalRateValueAtten" class=" text-warning fw-5 "></ngb-rating>
                  </td>
                  <td *ngIf="role==='Manager'" class="align-middle d-flex justify-content-center">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Appraiser Comment </mat-label>
                      <input matInput name="appraiserCommentValueAtten" ngModel>
                    </mat-form-field>
                  </td>  
                </tr>
  
  
                <tr>
                  <td >4</td>
                  <td >Mateship</td>
                  <td  style=" font-size: xx-large; ">
                      <ngb-rating [max]="5" [(rate)]="yourRateValueMate" class=" text-warning fw-5 " [readonly]="true"></ngb-rating>
                  </td>
                  <td >
                    {{fetchRatings[3].self_comment}}
                  </td>
                  <td *ngIf="role==='Manager'" style=" font-size: xx-large; ">
                    <ngb-rating [max]="5" [(rate)]="appraisalRateValueMate"  class=" text-warning fw-5 "></ngb-rating>
                  </td>
                  <td *ngIf="role==='Manager'" class="align-middle d-flex justify-content-center">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Appraiser Comment </mat-label>
                      <input matInput name="appraiserCommentValueMate" ngModel>
                    </mat-form-field>
                  </td>  
                </tr>
               
              </tbody>
            </table>
            <div class="mt-5" style="display: grid; grid-template-columns: auto auto 1fr;">
              <button mat-button matStepperPrevious class="border">Back</button>
              <button mat-button matStepperNext class="border ms-3">Next</button>
              <button mat-button class="btn-bg text-white" style="justify-self: end;">{{btn1}}</button>
            </div>
          </form>
          
       </form>
      </mat-step>
      <mat-step>

        <ng-template matStepLabel>Done</ng-template>
        <div class="mt-5">
           <div class="d-flex justify-content-center">
            <button data-bs-toggle="modal" data-bs-target="#alertBox" class="btn btn-bg text-white" >Submit Appraisal</button>
           </div>
          <div class="mt-4">
            <button class="btn border" matStepperPrevious>Back</button>
            
          </div>
        </div>
       
      </mat-step>
      
    </mat-stepper>
    <div class="text-center" *ngIf="appraisalStatus==='done'">
        <h3 class="mt-5 pt-5 text-success">Appraisal has already been submitted!</h3>
        <button class="px-2 mt-2 btn btn-bg text-white"  (click)="goToAppraisal()">View Appraisal</button>
    </div>
 
    <div class="modal fade" id="alertBox" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content ">
            <div class="modal-header">
              <p class="fs-4">Please confirm</p>
            </div>
            <div class="modal-body">
                <p class="fs-5">Are you sure you want to submit?<p>
            </div>
            <div class="modal-footer d-flex justify-content-end ">
              <button type="button" class="btn btn-secondary  w-25" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-bg ms-2 w-25 text-light"  (click)="submitAppraisal()" data-bs-toggle="modal" data-bs-target="#thankyouBox">Yes</button>
          </div>
            
          </div>
          
        </div>
      </div>
       
       
       
      <div class="modal fade" id="thankyouBox" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content p-3">
            <div class="d-flex justify-content-center" *ngIf="greet==='Thank you!'">
              <img src="../../assets/checkmark.png" height="100px" width="100px">
            </div>
            <div class="d-flex justify-content-center" *ngIf="greet!=='Thank you!'">
              <img src="../../assets/error.png" height="100px" width="100px">
            </div>
       
            <div class="mt-5">
              
              <h3 class="text-center">{{greet}}</h3>
              <p class="text-center">{{msg}}</p>
             
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn text-light w-25" style="background-color: rgb(30 163 30);" data-bs-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>




  </div>