
<div class="container-fluid px-5">
      <div class="row container-fluid mt-5">
        <div class="fw-bold fs-1  col-1 ">Users</div>
        <div class=" col-11 text-end mt-2 form-group">
            <button class="btn rounded-4 text-light fw-bold px-4" style="background-color: rgb(30,58,138);" routerLink="add">Add a new user</button>
        </div> 
      </div>


      <div class="mt-4 me-lg-1 me-xs-0">
        <input type="text" class="form-control mb-4 w-25 mt-0 py-2 border-3" placeholder="Search by Name or Username" [(ngModel)]="searchTerm">
        <table class="table fs-5 table-hover">
          <thead>
            <tr class="text-center">
              <th>Name</th>
              <th>Username</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let user of filteredUsers">
              <td>{{user.first_name}} {{user.last_name}}</td>
              <td>{{user.user_name}}</td>
              <td>
                <button class="btn bg-success text-light me-2 px-2" routerLink="edit/{{user.user_id}}"><i class="bi bi-pencil-square text-light"></i></button>
                <button class="btn text-light bg-danger px-2" (click)="deleteUser(user.user_id)"><i class="bi bi-trash-fill"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      

    </div>