
    <div class="container">
        <!-- <div class="row vh-100"> -->
            
            <div class=" vh-100 p-5">
                <div class="fs-1 fw-bold pb-5">New User</div>

                <div class="p-5 shadow-lg rounded-5">
                    <form>
                      <div class="row pt-lg-4 pt-sm-4">
                        <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                          <mat-label class="fs-5">Username</mat-label>
                          <input matInput>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                          <mat-label class="fs-5">Password</mat-label>
                          <input matInput>
                        </mat-form-field>
                     </div>



                     <div class="row pt-lg-4 pt-sm-4">
                      <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                        <mat-label class="fs-5">First Name</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                        <mat-label class="fs-5">Last Name</mat-label>
                        <input matInput>
                      </mat-form-field>
                   </div>

                   <div class="row pt-lg-4 pt-sm-4">
                    <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                      <mat-label class="fs-5">Designation</mat-label>
                      <input matInput>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                      <mat-label class="fs-5">Role</mat-label>
                      <input matInput>
                    </mat-form-field>
                 </div>


                 <div class="row pt-lg-4 pt-sm-4">
                  <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                    <mat-label class="fs-5">Email</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                    <mat-label class="fs-5">Contact Number</mat-label>
                    <input matInput>
                  </mat-form-field>
               </div>


               <div class="row pt-lg-4 pt-sm-4">
                <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                  <mat-label class="fs-5">Department</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                  <mat-label class="fs-5">Location</mat-label>
                  <input matInput>
                </mat-form-field>
             </div>

                        <button type="submit" class="btn px-3 mt-4 fw-bold text-light">Create User</button>
                      </form>
                </div>
                
    
            </div>
        <!-- </div> -->
       
    </div>  

