<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-md-0 mt-5">
            <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center flex-column">
                <div class="row text-center">
                    <h1 class="display-3 fw-bold animated-title">Unlocking Potential through Comprehensive Appraisal</h1>
                    <h4 class="mt-3 fs-4" style="color: #6c757d;">Measuring, Nurturing, and Leveraging Talent</h4>
                </div>
    
                <div class="row mt-4">
                    <button class="btn btn-bg fw-bold px-3" routerLink="sign-in"> Let's Get Started </button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid" src="../../assets/team.avif"> 
            </div>    
        </div> 
    </div>
</body>
</html>

